<div class = "textDecoration">
    difficulty:  {{difficulty}}
</div >
<div class = "textDecoration">score :  {{score}}</div>
<div>
    <table>
        <tr>
            <td>
                <app-button (clicked)="onChildEmit($event)" [statut]="nbrBtnCurrent==1"></app-button>
            </td>
            <td>
                <app-button (clicked)="onChildEmit($event)"  [statut]="nbrBtnCurrent==2"></app-button>
            </td>
        </tr>
        <tr>
            <td>
                <app-button (clicked)="onChildEmit($event)"  [statut]="nbrBtnCurrent==3"></app-button>
            </td>
            <td>   <app-button (clicked)="onChildEmit($event)"  [statut]="nbrBtnCurrent==4"></app-button></td>
        </tr>
    </table>
    
    
   
 
</div>